html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body, html{
	margin: 5px;
	height: 100%;
	color: #000;
	font-family: arial;
	text-align: center;
}

.wrapper{
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	overflow:auto;
	border-bottom: 1px dotted #95ab63;
	
}

#header{
	width: 100%;
	height: 100px;
	margin-top: 10px;
	background-color: #e2f0d6;
}

#headertext{
	float: left;
	margin-right: 50px;
	display: inline-block;
}

h1{
	color: #102242;	
	font-size: 1.70em;
	text-transform: lowercase;
	letter-spacing:-1px;
}

h2{
	color: #fff;	
	font-size: 1.70em;
	text-transform: lowercase;
	letter-spacing:-1px;
}


#nav{
	width: 210px;
	margin-top: 10px;
	display: inline-block;
	float:right;
	
}

#nav ul{
	list-style: none;
	display: block;
	margin: 0;
	list-style: none;
	float: right;
}

#nav li{
	float: left;
	padding-left: 10px;
}

#nav li a{
	color: #95ab63;
	font-size: 1.00em;
	letter-spacing: 3px;
	text-decoration: none;
	text-shadow: 1px 1px #000;
}

#aboutnext{
	width: 100%;
	background-color: #bdd684;
	min-height: 100vh;
	padding: 200px 0 260px 0;
}

#resumenext{
	width: 100%;
	background-color: #95ab63;
	min-height:100vh;
	padding: 200px 0 260px 0;
}

#contactnext{
	width: 100%;
	background-color: #f6ffe0;
	min-height: 100vh;
	padding: 200px 0 260px 0;
}





