
body{
	color: #000;
	font-family: arial;
	text-align: center;
}

#maincontainer{
	width: 50%;
	margin: 0 auto;
}

h1{
	color: #f6546a;	
	font-size: 3.00em;
	text-transform: lowercase;
	letter-spacing:-3px;
}
